<div class="navbar navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="row">
	    <div class="col-lg-12">
	      <p>Copyright &copy; Piyush Awasthi 2016</p>
	    </div>
		</div>
	</div>
</div>