<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="pull-left">
        <a class="navbar-brand logo" href="/">Location Share</a>
      </div>
      <div class="pull-right">
        <% if current_user %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login", new_user_session_path, data: {remote_modal: true, title: "Login"} %> |
          <%= link_to "Sign up", new_user_registration_path, data: {remote_modal: true, title: "Sign up"} %>
        <% end %>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
    </div>
  </div>
</nav>